.description-list {
  display: flex;
}

.description-img img{
  max-width: 200px;
  border-radius: 5px;
}

h2{
  border-radius: 5px;
}

.btn {
  margin: 10px 0px 0px 10px;
}

.description-detail{
  margin-left: 1rem;
}

@media only screen and (max-width: 400px) {
  .description-img img{
    display: none;
  }
  .description-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
}

